5.Identify-Fraud-from-Enron-Email/MiniProjects/final_project/poi_dataprocess.py
5.Identify-Fraud-from-Enron-Email/MiniProjects/final_project/poi_dataprocess.pyc
5.Identify-Fraud-from-Enron-Email/MiniProjects/final_project/poi_model.py
5.Identify-Fraud-from-Enron-Email/MiniProjects/final_project/poi_model.pyc
5.Identify-Fraud-from-Enron-Email/MiniProjects/final_project/poi_test.py